<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center" style="color:white">
                <%= t('app_name') %><br/>
                <%= Time.now.year %>
                , Copyright &copy;
                <%= t('developer') %>
            </div>
        </div>
    </div>
</nav>
