<h1>Editing Bank Account Type Setting</h1>

<%= render 'form', bank_account_type_setting: @bank_account_type_setting %>

<%= link_to 'Show', @bank_account_type_setting %> |
<%= link_to 'Back', bank_account_type_settings_path %>
